In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [24]:
df_train.head(5)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df_train.shape

(42000, 785)

In [4]:
df_train.isnull().count().any()

True

In [5]:
df_train.describe().T

            count      mean       std  min  25%  50%  75%   max
label     42000.0  4.456643  2.887730  0.0  2.0  4.0  7.0   9.0
pixel0    42000.0  0.000000  0.000000  0.0  0.0  0.0  0.0   0.0
pixel1    42000.0  0.000000  0.000000  0.0  0.0  0.0  0.0   0.0
pixel2    42000.0  0.000000  0.000000  0.0  0.0  0.0  0.0   0.0
pixel3    42000.0  0.000000  0.000000  0.0  0.0  0.0  0.0   0.0
...           ...       ...       ...  ...  ...  ...  ...   ...
pixel779  42000.0  0.002857  0.414264  0.0  0.0  0.0  0.0  62.0
pixel780  42000.0  0.000000  0.000000  0.0  0.0  0.0  0.0   0.0
pixel781  42000.0  0.000000  0.000000  0.0  0.0  0.0  0.0   0.0
pixel782  42000.0  0.000000  0.000000  0.0  0.0  0.0  0.0   0.0
pixel783  42000.0  0.000000  0.000000  0.0  0.0  0.0  0.0   0.0

[785 rows x 8 columns]

In [11]:
df_train.where(df_train.isnull().sum()>0).columns

Index(['label', 'pixel0', 'pixel1', 'pixel2', 'pixel3', 'pixel4', 'pixel5',
       'pixel6', 'pixel7', 'pixel8',
       ...
       'pixel774', 'pixel775', 'pixel776', 'pixel777', 'pixel778', 'pixel779',
       'pixel780', 'pixel781', 'pixel782', 'pixel783'],
      dtype='object', length=785)

In [7]:
import seaborn as sns

In [8]:
type(df_train)

pandas.core.frame.DataFrame

In [21]:
nan_cols = [i for i in df_train.columns if df_train[i].isnull().any()]

In [22]:
nan_cols

[]

In [25]:
df_test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
nan_cols = [i for i in df_test.columns if df_test[i].isnull().any()]
nan_cols

[]

In [29]:
Y_train = df_train["label"]
X_train = df_train.drop(["label"],axis=1)

In [31]:
X_train.shape

(42000, 784)

In [32]:
df_test.shape

(28000, 784)

In [33]:
from sklearn.linear_model import LogisticRegression

In [36]:
log_model = LogisticRegression()
log_model.fit(X_train,Y_train)

C:\Users\Asus\anaconda3\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [40]:
y_pred = log_model.predict(df_test)

In [55]:
y_pred

array([2, 0, 9, ..., 3, 9, 2], dtype=int64)

In [42]:
image_id = pd.read_csv("sample_submission.csv")["ImageId"]

In [57]:
image_id = pd.DataFrame(image_id).to_numpy().flatten()

In [58]:
submission = pd.DataFrame({
    "ImageId" : image_id,
    "Label": y_pred
})

In [59]:
submission

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      7
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]

In [62]:
filename = "sample_submission_.csv"

In [63]:
submission.to_csv(filename,index =False)